
Aplikacja serwerowa/.vs/WindowsProject1/v16/.suo
Aplikacja serwerowa/.vs/WindowsProject1/v16/Solution.VC.db
Aplikacja serwerowa/.vs/WindowsProject1/v16/Solution.VC.db-shm
Aplikacja serwerowa/.vs/WindowsProject1/v16/Solution.VC.db-wal
Aplikacja serwerowa/Debug/Klient.exe
Aplikacja serwerowa/Debug/Klient.pdb
Aplikacja serwerowa/Debug/Serwer.Build.CppClean.log
Aplikacja serwerowa/Debug/Serwer.exe
Aplikacja serwerowa/Debug/Serwer.ilk
Aplikacja serwerowa/Debug/Serwer.pdb
Aplikacja serwerowa/Debug/vc142.idb
Aplikacja serwerowa/Debug/vc142.pdb
Aplikacja serwerowa/Debug/WindowsProject1.obj
Klient/Debug/GetCpuLoad.obj
Klient/Debug/getDiskFreeSpace.obj
Klient/Debug/getMemoryLoad.obj
Klient/Debug/Klient.Build.CppClean.log
Klient/Debug/Klient.ilk
Klient/Debug/Klient.log
Klient/Debug/Klient.obj
Klient/Debug/Klient.tlog/CL.command.1.tlog
Klient/Debug/Klient.tlog/CL.read.1.tlog
Klient/Debug/Klient.tlog/CL.write.1.tlog
Klient/Debug/Klient.tlog/link.command.1.tlog
Klient/Debug/Klient.tlog/link.read.1.tlog
Klient/Debug/Klient.tlog/link.write.1.tlog
Klient/Debug/main.obj
Klient/Debug/vc142.idb
Klient/Debug/vc142.pdb
Klient/Klient.vcxproj
Klient/Klient.vcxproj.filters
